body {
    background-color: #FF99C8;
    color: aliceblue;
    font-family: 'Lilita One';
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    outline: solid 1px black; 
    flex-direction: column;
}

.contentBtn {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    flex-direction: row;
    display: flex;
    gap: 1rem;
}

#black, #color, #clear {
    width: auto;
    padding: 1rem;
    color: #BE7CFF;
    font-family: 'Lilita One';
    font-size: 24px;
    border-radius: 15px;
}

#black {
    background-color: #FCF6BD;
}

#color {
    background-color: #A9DEF9;
}

#clear {
    background-color: #D0F4DE;
}

